image: node:18

stages:
  - test
  - build

cache:
  paths:
    - node_modules/

test:
  stage: test
  script:
    - npm install
    - npm test
  only:
    - branches

build:
  stage: build
  script:
    - npm install
    - npm run build
  only:
    - main
